@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&family=Kalnia:wght@400;500&display=swap');

:root{
    --parrafo: 'Hedvig Letters Serif', sans-serif;
    --titulo: 'Kalnia', Times;
    --btn: #1B4242;
    --btn--text: #FFFFDD;
}




.header {
    background-color: #333;
    color: #fff;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 50px; /* Ajusta el tamaño de la imagen según sea necesario */
}

.navegation_items {
    list-style: none;
    display: flex;
}

.link_items {
    text-decoration: none;
    color: #fff;
    margin: 0 15px;
}

.link_items.active {
    font-weight: bold;
}

.link_items:hover{
    border-bottom: 3px solid white;
}

.title{
    text-align: center;
    margin: 20px;
    padding: .5em;
    font-family: var(--titulo);
    font-weight: 500;
}

.container p{
    font-family: var(--parrafo);
    font-weight: 400;
    margin: auto;
    padding: .2em;
}

.form {
    margin: 20px 0;
    font-family: var(--parrafo);
}

fieldset {
    margin-bottom: 20px;
    border: none;
}

label {
    display: block;
    margin-bottom: 10px;
}

input,
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

select{
    font-family: var(--parrafo);
}

.btn {
    background-color: var(--btn);
    color: var(--btn--text);
    padding: 10px 20px;
    cursor: pointer;
}

footer{
    text-align: center;
    color: black;
}

footer a{
    color: black;
    text-decoration: none;
}

footer a:hover{
    color: var(--btn);
    border-bottom: 2px solid black;
}

@media (max-width: 600px) {
    h1 {
        font-size: 1.5em;
    }
}



